/* Dashboard */

.dashboard-container {
    padding-top: 40px;
    padding-bottom: 40px;
}

.dashboard-header {
    text-align: center;
    margin-bottom: 24px;
}

.device-card {
    min-height: 280px;
    border-radius: 20px;
    overflow: hidden;
    background-color: var(--dark-bg);
    border: 1px solid var(--border-light);
}

.device-image {
    height: 120px;
    object-fit: contain;
}

.device-title {
    color: var(--white);
    font-size: 20px;
}

.no-results {
    color: var(--white);
    text-align: center;
    margin-top: 30px;
}